<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
        </tr>
    </table>
    <strong><div th:text="${Name}"></div></strong>
    <p><a th:href="@{/index}">トップっす</a></p>
    <form method="post" th:action="@{/logout}">
	     <input type="submit" value="logout">
	</form>
</body>
</html>