<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
 	<!-- BootstrapのCSS読み込み -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <!-- BootstrapのJS読み込み -->
    <script th:src="@{js/bootstrap.min.js}"></script>
	<title>よろドッグ!!</title>
</head>
<body>
<header style="background-color:pink"><font color="white">誤チェストでごわす</font></header>
<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-12" style="background-color:pink;">



		よろろ～ん<br>
		薩摩っす<br>
		<p><strong>すっす言ってないっす</strong></p>
		<form th:action="@{/resultCtrl}" method="post">
		    <p><textarea name="val" cols="30" rows="5"></textarea></p>
		    <p><input type="submit" value="送るっす"></p>
		</form>

		<form method="get" name="form1" action="/apGate">

			<p><a href="javascript:form1.submit()">真面目なやつ</a></p>
		</form>
		<form method="post" th:action="@{/logout}">
			<input type="submit" value="logout">
			</form>
		<footer><img th:src="@{/img/aff.jpg}"class="img-fluid" alt="無料"></footer>
		</div>
	</div>
</div>
</body>
</html>