<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!--/* ログイン失敗/ログアウトはgetパラメータにステータスが渡されているので、Thymeleafではparamから取得 */-->
    <div th:if="${param.logout}">
            ログアウトしたっす
             <p><a th:href="@{/index}">トップっす</a></p>
    </div>
    <div th:if="${param.error}">
            ユーザー名かパスが間違ってるっす
             <p><a th:href="@{/index}">戻る</a></p>
    </div>
    

    <!--/* 「/sign_in」がログイン判定処理を呼び出すViewNameとなっている */-->


	<form th:action="@{/sign_in}" method="post">
	    <input type="text" name="username">user_name
	    <br/>
	    <input type="password" name="password">password
	    <br/>

	    <input type="submit" value="Login">
	</form>
	<br>
	<br>
	<p><a th:href="@{/index}">トップっす</a></p>
	<a th:href="@{/create}">新人はこっちっす</a>
</body>
</html>